DB_HOST=medleave-db.cfqomw0uwm1g.us-east-2.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=your_password_here
DB_NAME=medleave
DB_PORT=3306
PORT=3000
JWT_SECRET=your_jwt_secret_here
BREVO_API_KEY=your_brevo_api_key_here
BREVO_SENDER_EMAIL=noreply.medleave@gmail.com
